* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  /*to make squares visible - see below*/
  flex-wrap: wrap;
}

.square{
  width: 16px;
  height: 16px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 1s ease-in-out;    /*animation*/
}

/*to add/assign color immediately - see below*/
.square:hover{
  transition-duration: 0s;
}
